# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDEs / Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# log files
npm-debug.log*

# Production build outputs
dist/
build/
out/
 
# Dependencies
node_modules/
/jspm_packages/

# Virtual Environments
.venv/
venv/

# DB
*.db
*.sqlite3

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# secret files
secretschema.sql
logs.py